################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AzueFunctionSystemMemory/v15/Server/sqlite3
*.suo
/.vs/AzueFunctionSystemMemory
